@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundario: #C0C0C0;
    --cor-azul-botao: #167BF7;
    --cor-fundo: #00030C;

    --font-principal: 'Inter';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    font-family: var(--font-principal), sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background: var(--cor-fundo) url('../assets/Background.png') no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0em 6em;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0em 2em 0em;
}
.container__botao {
    background-color: var(--cor-azul-botao);
    border-radius: 8px;
    padding: 1em;
    color: var(--cor-primaria);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
}

.container__aviso {
    font-size: 0.75rem;
    columns: var(--cor-secundario);
}

.secundario {
    align-items: center;
    margin: 0em 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.1em;
}

.container__descricao {
    padding: 3em;
}

.descricao__texto {
    color: var(--cor-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}
